/*
    Author: Jaco du Plooy
*/

/*
Color scheme:
_____________

Light: 	lime darken-4
Dark: teal darken-3

*/

html {
	font-family: 'Raleway', sans-serif;
}

#signInModal {
	width: 25vw;
}

#signUpModal {
	width: 25vw;
}

#showbox {
	opacity: 0.0;
}

.bannerImage {
	height: 50vh;
	width: auto;
}

#menuBtn {
	display: flex;
	position: relative;
	left: -90vw;
}